<!DOCTYPE html>
<html class="ua_js_no" lang="ru">
<!-- Mirrored from kassa.yandex.ru/online-kassa/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jul 2020 08:42:39 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Облачная онлайн-касса для интернет-магазина: готовое решение Яндекс.Кассы для 54-ФЗ</title>
    <script>(function(e,c){e[c]=e[c].replace(/(ua_js_)no/g,"$1yes");})(document.documentElement,"className");</script>
    <link rel="stylesheet" href="../style/online-kassa.mineb7f.css?v=1593787161269">
    <link rel="stylesheet" href="../assets/decorator.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Яндекс.Касса поможет интернет-магазинам наладить работу с онлайн-кассой по 54-ФЗ. Платёжные решения для интернет-магазинов, сайтов и других сервисов. 120 000 магазинов уже выбрали Яндекс.Кассу.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kassa.yandex.ru/online-kassa/">
    <meta property="og:title" content="Готовое решение Яндекс.Кассы для интернет-магазинов по работе с 54-ФЗ">
    <meta property="og:description" content="Яндекс.Касса поможет интернет-магазинам наладить работу с онлайн-кассой по 54-ФЗ. Платежные решения для интернет-магазинов, сайтов и других сервисов. 15 лет на рынке онлайн-платежей. 90 000 подключенных магазинов.">
    <meta property="og:image" content="https://kassa.yandex.ru/files/og-54fz.png">
    <link rel="shortcut icon" href="https://kassa.yandex.ru/favicon.ico"><!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start": new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src="../../www.googletagmanager.com/gtm5445.html?id="+i+dl;f.parentNode.insertBefore(j,f);})(window,document,"script","dataLayer","GTM-5Z2T24T");</script><!-- End Google Tag Manager -->
    <script async src='../old-browsers/oldBrowserChecker.js'></script>
</head>
<body class="page theme theme_color_kassa-brand theme_space_kassa-default theme_size_kassa-default theme_gap_kassa-default theme_control_kassa-brand theme_breakpoint_kassa theme_font_yandex-sans" itemscope itemtype="https://schema.org/FAQPage">
    <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z2T24T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) --><div class="online-kassa"></div><div class="usability-arrow-down"><div class="usability-arrow-down__arrow i-bem" data-bem='{"usability-arrow-down__arrow":{}}'></div></div><div class="tpl-layout">
        <header class="header">
            <div class="search-form i-bem" data-bem='{"search-form":{}}'>
                <div class="search-form__styles">
                    <style>
                        #ya-site-form0 .ya-site-form__submit {
                            background-color: #00CCA0;
                            color: white !important;
                            background-image: none;
                            font-size: 13px !important;
                            margin: 0;
                            margin-left: 10px;
                        }

                        #ya-site-form0 .ya-site-form__submit {
                            -webkit-appearance: none;
                        }

                        .ya-site-form .ya-site-form__search-input {
                            padding: 0 !important;
                        }

                        .ya-site-form .ya-site-form__input-text {
                            padding: 8px 20px 9px;
                            border-radius: 5px 5px 5px 5px;
                            font-size: 16px;
                            line-height: 19px;
                            height: 32px;
                        }

                        .ya-site-form .ya-site-form__input-text {
                            -webkit-appearance: none !important;
                        }

                            .ya-site-form .ya-site-form__input-text .ya-site-form__input-text_with-popup {
                                border-radius: 5px 5px 0 0;
                            }

                        #ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
                            border: 1px solid rgba(154, 154, 154, 0.6) !important;
                        }

                            #ya-site-form0 .ya-site-form__form .ya-site-form__input-text:focus {
                                border: 1px solid rgba(154, 154, 154, 0.6) !important;
                            }

                        .ya-site-form .ya-site-form__form * {
                            font-size: 16px !important;
                        }

                        .ya-site-form .ya-site-form__input-text::-webkit-search-cancel-button {
                            display: none;
                        }

                        #ya-site-form0 .ya-site-form__form *, #ya-site-form1 .ya-site-form__form * {
                            font-size: 14px !important;
                            line-height: 16px !important;
                        }

                        #ya-site-form0 .ya-site-suggest-elem-link, #ya-site-form1 .ya-site-suggest-elem-link {
                            padding-left: 30px;
                        }

                        .ya-site-suggest-list {
                            background-color: white;
                            padding: 15px 25px 15px 25px;
                            border-radius: 0 0 5px 5px;
                            box-sizing: border-box;
                        }

                        #ya-site-form0 .ya-site-suggest-list {
                            min-width: 1px;
                        }

                        #ya-site-form0 .ya-site-suggest-list, #ya-site-form1 .ya-site-suggest-list {
                            box-shadow: none;
                        }

                        .often-search-title {
                            padding-bottom: 15px;
                            color: #ADADAD;
                        }
                    </style>

                </div><div class="search-form__input search-form__input_hide i-bem" data-bem='{"search-form__input":{}}'><div class="ya-site-form ya-site-form_inited_no" data-bem="{&quot;action&quot;:&quot;https://kassa.yandex.ru/search/&quot;,&quot;arrow&quot;:false,&quot;bg&quot;:&quot;transparent&quot;,&quot;fontsize&quot;:12,&quot;fg&quot;:&quot;#000000&quot;,&quot;language&quot;:&quot;ru&quot;,&quot;logo&quot;:&quot;rb&quot;,&quot;publicname&quot;:&quot;Поиск по kassa.yandex.ru&quot;,&quot;suggest&quot;:true,&quot;target&quot;:&quot;_blank&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;type&quot;:3,&quot;usebigdictionary&quot;:false,&quot;searchid&quot;:2373320,&quot;input_fg&quot;:&quot;#000000&quot;,&quot;input_bg&quot;:&quot;#ffffff&quot;,&quot;input_fontStyle&quot;:&quot;normal&quot;,&quot;input_fontWeight&quot;:&quot;normal&quot;,&quot;input_placeholder&quot;:&quot;Поиск по сайту&quot;,&quot;input_placeholderColor&quot;:&quot;#778a9b&quot;,&quot;input_borderColor&quot;:&quot;#778a9b&quot;}"><form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input type="hidden" name="searchid" value="2373320" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти" /></form></div>
                <style type="text/css">
                    .ya-page_js_yes .ya-site-form_inited_no {
                        display: none;
                    }
                </style>
                <script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script><div class="search-form__close i-bem" data-bem='{"search-form__close":{}}'></div><div class="search-form__find i-bem" data-bem='{"search-form__find":{}}'></div></div>
            </div>
            <nav class="header__nav tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center">
                <a class="header__logo" href="#" tabindex="-1">
                    <img src="~/pic/logo1.png" height="44" width="150" class="mt-2"/>
                </a>
                
                @*<div class="search-form__loupe search-form__loupe_mobile i-bem" data-bem='{"search-form__loupe":{}}'>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill=var(--color-typo-primary) d="M23.8535 22.4395L16.8817 15.4677C18.204 13.8351 19 11.7597 19 9.50004C19 4.26175 14.7383 0 9.49999 0C4.2617 0 0 4.26175 0 9.50004C0 14.7383 4.26175 19.0001 9.50004 19.0001C11.7597 19.0001 13.8351 18.204 15.4677 16.8817L22.4395 23.8536C22.6348 24.0488 22.9513 24.0488 23.1467 23.8536L23.8536 23.1466C24.0488 22.9513 24.0488 22.6347 23.8535 22.4395ZM9.50004 17.0001C5.3643 17.0001 2.00002 13.6358 2.00002 9.50004C2.00002 5.3643 5.3643 2.00002 9.50004 2.00002C13.6358 2.00002 17.0001 5.3643 17.0001 9.50004C17.0001 13.6358 13.6358 17.0001 9.50004 17.0001Z" />
                    </svg><div class="search-form__loupe-text">Поиск по сайту</div>
                </div><button class="header__mobile-toggler theme theme_color_kassa-default"><div class="pt-icon-plus pt-icon-plus_vertical-align_center"><span class="text text_size_s text_view_primary text_transform_uppercase text_spacing_xs text_display_block" lang="ru">Меню</span><div class="header__burger header__burger_view_open pt-icon-plus__icon pt-icon-plus__icon_indent-l_xs"></div></div></button><div class="header__menu">
                    <div class="header__menu-header">
                        <a class="header__logo" href="https://kassa.yandex.ru/" tabindex="-1">
                            <svg width="114" height="24" viewBox="0 0 114 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="logoTitle" role="img">
                                <title id="logoTitle">Логотип Яндекс Кассы</title>
                                <path d="M6.47 13.33L3.05 21H.56l3.75-8.2a5.34 5.34 0 0 1-2.13-1.98 6.66 6.66 0 0 1-.8-3.54c0-1.05.15-1.96.45-2.76a5.18 5.18 0 0 1 3.12-3.15C5.68 1.11 6.42.98 7.2.98h3.22V21H8.26v-7.67h-1.8zM8.26 2.8H7.11c-.43 0-.85.08-1.26.24-.4.16-.77.4-1.09.75-.32.35-.57.8-.77 1.38-.2.57-.3 1.27-.3 2.11 0 .8.1 1.47.27 2.02.18.54.42.98.73 1.31.3.34.67.58 1.1.72.41.14.86.2 1.32.2h1.15V2.8zm23.77 20.97h-1.96V21h-6.05v2.77h-1.96v-4.56h.87c.32-.75.57-1.57.76-2.48.18-.9.33-1.84.43-2.8.1-.96.17-1.94.2-2.94s.04-1.96.04-2.9V6.9h6.55V19.2h1.12v4.56zm9.5-3.72a5.33 5.33 0 0 1-3.48 1.15c-1.45 0-2.6-.57-3.44-1.7-.84-1.13-1.26-2.78-1.26-4.97 0-1.14.08-2.18.24-3.13a8.9 8.9 0 0 1 .75-2.48c.35-.7.8-1.25 1.33-1.64a3.63 3.63 0 0 1 3.53-.24c.49.24.9.61 1.23 1.14.34.52.6 1.2.79 2.03.18.83.28 1.84.28 3.03v1.2h-5.88c0 1.61.22 2.83.65 3.65.44.82 1.1 1.23 1.98 1.23.61 0 1.16-.1 1.64-.32a6.4 6.4 0 0 0 1.13-.63l.5 1.68zM20.8 6.89V21h-2.15v-6.33H15.4V21h-2.18V6.89h2.18v5.99h3.25v-6h2.15zm25.12 7.08V21h-2.18V6.89h2.18v6.52l3.39-6.52h2.21l-3.5 6.63 4 7.48h-2.38l-3.72-7.03zm11.23 7.23c-1.51 0-2.7-.6-3.56-1.81-.86-1.2-1.29-3.02-1.29-5.45 0-1.1.11-2.1.33-3 .21-.89.53-1.65.95-2.27.42-.63.94-1.11 1.57-1.46a4.42 4.42 0 0 1 2.17-.52c.63 0 1.14.07 1.54.21.39.14.74.31 1.06.52l-.3 2.07c-.3-.26-.66-.49-1.06-.68-.4-.2-.82-.3-1.27-.3-.79 0-1.43.44-1.93 1.32-.5.88-.76 2.21-.76 4 0 1.78.21 3.14.63 4.1.42.97 1.08 1.45 1.97 1.45.55 0 1.01-.1 1.4-.27.4-.18.72-.38.98-.6l.5 1.62a4.33 4.33 0 0 1-2.94 1.06zM28.75 8.65h-2.43v.25c0 .75-.01 1.57-.04 2.45a38.63 38.63 0 0 1-.58 5.4c-.16.9-.4 1.71-.7 2.46h3.76V8.65zm8.85-.17c-.67 0-1.14.38-1.42 1.14-.28.75-.46 1.77-.54 3.04h3.62c0-.6-.03-1.16-.09-1.67a6.69 6.69 0 0 0-.26-1.33 2.05 2.05 0 0 0-.5-.87c-.22-.2-.49-.3-.8-.3zm30.6 1.96V21h-1.4V.98h1.4v9.35L74.07.98h1.34l-5.76 9.24L75.9 21h-1.57l-6.13-10.56zm12.33 9.78c.65 0 1.2-.27 1.66-.82a6 6 0 0 0 1.08-1.96v-3.89h-1.51c-1.18 0-2.04.28-2.6.84-.56.56-.84 1.46-.84 2.69 0 1 .2 1.78.6 2.32.4.55.94.82 1.6.82zm3.13.78l-.18-.71a8.54 8.54 0 0 1-.15-1.2c-.34.68-.76 1.21-1.26 1.6-.5.4-1.11.59-1.82.59-.95 0-1.73-.36-2.33-1.08-.6-.72-.9-1.72-.9-3 0-1.52.4-2.66 1.21-3.44.8-.77 1.97-1.16 3.5-1.16h1.54v-1.76c0-1.09-.2-1.87-.59-2.36-.39-.48-.98-.72-1.76-.72a3.6 3.6 0 0 0-2.97 1.54l-.36-1.26c.28-.38.7-.7 1.27-1a4.5 4.5 0 0 1 2.06-.43c1.18 0 2.08.33 2.7 1 .63.65.94 1.69.94 3.09v7.7c0 .48.03.97.08 1.47.06.5.13.87.23 1.13h-1.2zm7.87-.87c.45 0 .85-.07 1.2-.22.34-.15.63-.33.87-.53.28-.2.53-.46.73-.76l.42 1.1a3.86 3.86 0 0 1-1.8 1.33c-.42.15-.9.23-1.45.23a3.65 3.65 0 0 1-3.29-1.92c-.77-1.28-1.16-3.07-1.16-5.39 0-2.33.38-4.14 1.15-5.43a3.66 3.66 0 0 1 3.33-1.93 3.85 3.85 0 0 1 3.08 1.32l-.36 1.4c-.32-.44-.7-.8-1.15-1.13a2.64 2.64 0 0 0-1.57-.47c-1.08 0-1.88.54-2.4 1.62-.5 1.08-.76 2.62-.76 4.62a11 11 0 0 0 .75 4.54c.5 1.08 1.31 1.62 2.41 1.62zm9.3 0c.45 0 .84-.07 1.19-.22.34-.15.64-.33.88-.53.28-.2.52-.46.73-.76l.42 1.1a3.86 3.86 0 0 1-1.8 1.33c-.43.15-.9.23-1.45.23a3.65 3.65 0 0 1-3.29-1.92c-.77-1.28-1.16-3.07-1.16-5.39 0-2.33.38-4.14 1.15-5.43a3.66 3.66 0 0 1 3.33-1.93 3.85 3.85 0 0 1 3.08 1.32l-.37 1.4c-.31-.44-.7-.8-1.14-1.13a2.64 2.64 0 0 0-1.57-.47c-1.08 0-1.88.54-2.4 1.62-.5 1.08-.77 2.62-.77 4.62a11 11 0 0 0 .76 4.54c.5 1.08 1.3 1.62 2.4 1.62zm8.12.09c.65 0 1.2-.27 1.66-.82a6 6 0 0 0 1.08-1.96v-3.89h-1.51c-1.18 0-2.04.28-2.6.84-.56.56-.84 1.46-.84 2.69 0 1 .2 1.78.6 2.32.4.55.94.82 1.6.82zm3.13.78l-.18-.71a8.54 8.54 0 0 1-.15-1.2c-.34.68-.76 1.21-1.26 1.6-.5.4-1.11.59-1.82.59-.95 0-1.73-.36-2.33-1.08-.6-.72-.9-1.72-.9-3 0-1.52.4-2.66 1.21-3.44.8-.77 1.97-1.16 3.5-1.16h1.54v-1.76c0-1.09-.2-1.87-.59-2.36-.39-.48-.98-.72-1.76-.72a3.6 3.6 0 0 0-2.97 1.54l-.36-1.26c.28-.38.7-.7 1.27-1a4.5 4.5 0 0 1 2.06-.43c1.18 0 2.08.33 2.7 1 .63.65.94 1.69.94 3.09v7.7c0 .48.03.97.08 1.47.06.5.13.87.23 1.13h-1.2z" fill="var(--color-typo-primary)" fill-rule="evenodd" />
                            </svg>
                        </a><button class="pt-icon-plus pt-icon-plus_vertical-align_center header__close"><span class="text text_size_s text_view_primary text_transform_uppercase text_spacing_xs text_display_block" lang="ru">Меню</span><div class="header__burger header__burger_view_close pt-icon-plus__icon pt-icon-plus__icon_indent-l_xs"></div></button>
                    </div><ul class="header__list">
                        <li class="header__item header__item_has_sublist header__item_sublist_products header__item_dropdown" tabindex="0"><p class="header__heading header__heading_mobile_noarrow">Продукты</p><div class="header__box header__box_view_products theme theme_color_kassa-default"><ul class="header__sublist header__sublist_view_payments"><p class="header__subheading">Платёжные решения</p><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/payments/"><div class="product-logo product-logo_name_priem-platezhey product-logo_size_m header__product-logo"><div></div></div>Приём платежей<p class="header__link-desc">Всё для работы с&nbsp;платежами в&nbsp;интернете</p></a><ul class="header__sublist header__sublist_view_col-2"><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/features/">Возможности</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/payments/">Способы оплаты</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/connection/">Подключение</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/fees/">Тарифы</a></li><li class="header__item"><a class="header__link header__link_level_second" href="index.html">Онлайн-касса</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://money.yandex.ru/fastpay">Платёжка</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/features-invoice/">Выставление счетов</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/mpos/">Мобильный терминал</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/kredit-zaplatit-po-chastyam/">Кредитование покупателей</a></li></ul></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/b2b/"><div class="product-logo product-logo_name_b2b product-logo_size_m header__product-logo"><div></div></div>B2B-платежи<p class="header__link-desc">Приём оплаты от юридических лиц в&nbsp;онлайне</p></a></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/payouts/"><div class="product-logo product-logo_name_viplati product-logo_size_m header__product-logo"><div></div></div>Выплаты<p class="header__link-desc">Перечисляйте деньги всем клиентам сразу</p></a></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/marketplaces/"><div class="product-logo product-logo_name_split product-logo_size_m header__product-logo"><div></div></div>Яндекс.Касса для платформ<p class="header__link-desc">Всё, что нужно маркетплейсам и агрегаторам</p></a></li></ul><ul class="header__sublist header__sublist_view_other-products"><p class="header__subheading">Развитие бизнеса</p><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/business-start/"><div class="product-logo product-logo_name_registraciya product-logo_size_m header__product-logo"><div></div></div>Конструктор бизнеса<p class="header__link-desc">Создайте компанию не&nbsp;выходя из&nbsp;дома</p></a></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/antifraud/"><div class="product-logo product-logo_name_antifraud product-logo_size_m header__product-logo"><div></div><div></div></div>Антифрод<p class="header__link-desc">Защитит ваш бизнес от&nbsp;мошенников</p></a></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/promotions/"><div class="product-logo product-logo_name_biznes-market product-logo_size_m header__product-logo"><div></div></div>Бизнес-маркет<p class="header__link-desc">Скидки и специальные предложения для бизнеса</p></a></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/recipes/"><div class="product-logo product-logo_name_recepti product-logo_size_m header__product-logo"><div></div></div>Рецепты для бизнеса<p class="header__link-desc">Полезные статьи для предпринимателей</p></a></li><li class="header__item"><a class="header__link header__link_level_first header__link_has_logo" href="https://kassa.yandex.ru/kontekstnaya-reklama/"><div class="product-logo product-logo_name_kontekstnaya-reklama product-logo_size_m header__product-logo"><div></div></div>Контекстная реклама<p class="header__link-desc">Запустите рекламную кампанию в Яндекс.Директе</p></a></li></ul></div></li>
                        <li class="header__item header__item_has_sublist header__item_sublist_developers header__item_mobile_accordion header__item_dropdown" tabindex="0"><p class="header__heading">Разработчикам</p><div class="header__box header__box_view_developers theme theme_color_kassa-default"><ul class="header__sublist"><li class="header__item header__item_has_link"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/developers">Вся документация<p class="header__link-desc">Все способы интеграции и взаимодействия с Яндекс.Кассой для разработчиков</p></a></li><li class="header__item"><ul class="header__sublist"><p class="header__subheading">С чего начать</p><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/developers/payments/quick-start">Быстрый старт</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/developers/payments/basics/payment-methods">Способы оплаты</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/developers/payments/payment-forms/basics">Встраиваемые платежные формы</a></li></ul></li><li class="header__item"><ul class="header__sublist"><p class="header__subheading">Самое важное</p><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/integration/">Готовые интеграции</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/developers/payments/54fz">Оплата по 54-ФЗ</a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/developers/using-api/testing">Тестирование</a></li></ul></li></ul></div></li>
                        <li class="header__item header__item_has_sublist header__item_sublist_about header__item_mobile_accordion header__item_dropdown header__item_tablet_hide" tabindex="0"><p class="header__heading">Компания</p><div class="header__box header__box_view_about theme theme_color_kassa-default"><ul class="header__sublist"><li class="header__item"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/about/">О компании</a></li><li class="header__item"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/success-stories/">Истории успеха</a></li><li class="header__item"><a class="header__link header__link_level_first" href="https://yandex.ru/promo/money/vacancies">Работа у нас</a></li><li class="header__item"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/contacts/">Контакты</a></li></ul><div class="header__articles"><p class="header__subheading">Статьи для бизнеса</p><div class="header__mobile-swiper"><ul class="header__sublist header__sublist_view_articles header__sublist_mobile_row"><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/recipes/istorii-uspekha/rassrochka-i-kredit/">+30% к продажам в интернет-магазине: увеличьте средний чек с помощью рассрочки<div class="header__articles-icons"><div class="pt-icon-plus pt-icon-plus_vertical-align_center decorator decorator_indent-r_l"><span class="icon icon_name_calendar icon_view_ghost icon_size_s pt-icon-plus__icon pt-icon-plus__icon_indent-r_xs"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 2h16v14H0V2zm2 3v9h12V5H2zm0-5h4v2H2V0zm8 0h4v2h-4V0zM4 7h2v2H4V7zm3 0h2v2H7V7zm3 0h2v2h-2V7zm-6 3h2v2H4v-2zm3 0h2v2H7v-2z" fill-rule="evenodd" /></svg></span><div class="text text_size_s text_view_ghost" lang="ru">22.06.2020</div></div><div class="pt-icon-plus pt-icon-plus_vertical-align_center"><span class="icon icon_name_time icon_view_ghost icon_size_s pt-icon-plus__icon pt-icon-plus__icon_indent-r_xs"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M9 7.5h2V9H7.5V4H9v3.5zM4.464 4.464L6.5 6.5H1V1l2.05 2.05A7 7 0 1 1 1.07 9H3.1A5.002 5.002 0 0 0 13 8a5 5 0 0 0-8.536-3.536z" /></svg></span><div class="text text_size_s text_view_ghost" lang="ru">9 мин</div></div></div></a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/recipes/obuchenie-marketingu/analitica-internet-magazin/">Как с помощью аналитики повысить конверсию интернет-магазина<div class="header__articles-icons"><div class="pt-icon-plus pt-icon-plus_vertical-align_center decorator decorator_indent-r_l"><span class="icon icon_name_calendar icon_view_ghost icon_size_s pt-icon-plus__icon pt-icon-plus__icon_indent-r_xs"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 2h16v14H0V2zm2 3v9h12V5H2zm0-5h4v2H2V0zm8 0h4v2h-4V0zM4 7h2v2H4V7zm3 0h2v2H7V7zm3 0h2v2h-2V7zm-6 3h2v2H4v-2zm3 0h2v2H7v-2z" fill-rule="evenodd" /></svg></span><div class="text text_size_s text_view_ghost" lang="ru">27.05.2020</div></div><div class="pt-icon-plus pt-icon-plus_vertical-align_center"><span class="icon icon_name_time icon_view_ghost icon_size_s pt-icon-plus__icon pt-icon-plus__icon_indent-r_xs"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M9 7.5h2V9H7.5V4H9v3.5zM4.464 4.464L6.5 6.5H1V1l2.05 2.05A7 7 0 1 1 1.07 9H3.1A5.002 5.002 0 0 0 13 8a5 5 0 0 0-8.536-3.536z" /></svg></span><div class="text text_size_s text_view_ghost" lang="ru">7 мин</div></div></div></a></li><li class="header__item"><a class="header__link header__link_level_second" href="https://kassa.yandex.ru/recipes/instruktsii/broshenniy-platezh/">Брошенная оплата: как вернуть клиента пуш-уведомлениями<div class="header__articles-icons"><div class="pt-icon-plus pt-icon-plus_vertical-align_center decorator decorator_indent-r_l"><span class="icon icon_name_calendar icon_view_ghost icon_size_s pt-icon-plus__icon pt-icon-plus__icon_indent-r_xs"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M0 2h16v14H0V2zm2 3v9h12V5H2zm0-5h4v2H2V0zm8 0h4v2h-4V0zM4 7h2v2H4V7zm3 0h2v2H7V7zm3 0h2v2h-2V7zm-6 3h2v2H4v-2zm3 0h2v2H7v-2z" fill-rule="evenodd" /></svg></span><div class="text text_size_s text_view_ghost" lang="ru">19.05.2020</div></div><div class="pt-icon-plus pt-icon-plus_vertical-align_center"><span class="icon icon_name_time icon_view_ghost icon_size_s pt-icon-plus__icon pt-icon-plus__icon_indent-r_xs"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M9 7.5h2V9H7.5V4H9v3.5zM4.464 4.464L6.5 6.5H1V1l2.05 2.05A7 7 0 1 1 1.07 9H3.1A5.002 5.002 0 0 0 13 8a5 5 0 0 0-8.536-3.536z" /></svg></span><div class="text text_size_s text_view_ghost" lang="ru">5 мин</div></div></div></a></li></ul></div></div></div></li>
                        <li class="header__item header__item_has_link header__item_first-link"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/fees/">Тарифы</a></li>
                        <li class="header__item header__item_has_link"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/54fz/">54-ФЗ</a></li>
                        <li class="header__item header__item_has_link"><a class="header__link header__link_level_first" href="https://kassa.yandex.ru/platezhi-dlya-samozanyatyh/">Самозанятым</a></li>
                        <li class="header__item header__item_has_sublist header__item_sublist_about header__item_mobile_hide header__item_dropdown">
                            <div class="search-form__loupe search-form__loupe_desktop i-bem" data-bem='{"search-form__loupe":{}}'>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill=var(--color-typo-primary) d="M23.8535 22.4395L16.8817 15.4677C18.204 13.8351 19 11.7597 19 9.50004C19 4.26175 14.7383 0 9.49999 0C4.2617 0 0 4.26175 0 9.50004C0 14.7383 4.26175 19.0001 9.50004 19.0001C11.7597 19.0001 13.8351 18.204 15.4677 16.8817L22.4395 23.8536C22.6348 24.0488 22.9513 24.0488 23.1467 23.8536L23.8536 23.1466C24.0488 22.9513 24.0488 22.6347 23.8535 22.4395ZM9.50004 17.0001C5.3643 17.0001 2.00002 13.6358 2.00002 9.50004C2.00002 5.3643 5.3643 2.00002 9.50004 2.00002C13.6358 2.00002 17.0001 5.3643 17.0001 9.50004C17.0001 13.6358 13.6358 17.0001 9.50004 17.0001Z" />
                                </svg><div class="search-form__loupe-text">Поиск по сайту</div>
                            </div>
                        </li>
                        <li class="header__item header__item_has_link"><a class="button button_theme_kassa button_size_s button_view_action button_type_link decorator decorator_indent-t_m decorator_indent-r_l button__control i-bem" data-bem='{"button":{}}' role="link" href="https://kassa.yandex.ru/my/"><span class="button__text">Войти</span></a></li>
                    </ul>
                </div>*@
            </nav>
        </header>

        <div class="tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center section section_vertical-align_center section_height_screen section_view_default"><div class="tpl-grid tpl-grid_xl-columns_10 tpl-grid_l-columns_10 tpl-grid_m-columns_12 tpl-grid_s-columns_8 tpl-grid_col-gap_full tpl-grid_vertical-align_center"><div class="tpl-grid__fraction tpl-grid__fraction_l-col_5 tpl-grid__fraction_m-col_7 tpl-grid__fraction_s-col_8"><h1 class="text text_type_h1-promo decorator decorator_indent-b_xxxl text_short_medium text_size_xxxxl text_weight_bold text_view_primary" lang="ru">E-KASSA ayda 5 manata</h1><div class="text text_size_l text_view_white text_weight_bold text_align_left decorator decorator_space-v_s" lang="ru"><div class="text text_size_m text_weight_bold" style="display: inline;" lang="ru"></div></div><div class="text text_type_lead text_short_medium text_view_secondary decorator decorator_indent-b_l text_size_l text_weight_regular" lang="ru">
            
                                                            Sizin 1Cilə e-kassanın əlagəndirilməsi üçün hall var. "ERP_SOFT: OnlineKassa"
                                                            </div><a class="button button_theme_kassa button_size_l button_view_action button_type_link decorator decorator_indent-t_s decorator_indent-r_l ya-metrica ya-metrica_goal button__control i-bem" data-bem='{"button":{}}' role="link" href="https://online.kit-invest.ru/Public/RentCashregister"><span class="button__text">E-KASSANI qoşmaq</span></a><a class="button button_theme_kassa button_size_l button_view_plain button_type_link decorator decorator_indent-t_s decorator_indent-r_l button__control i-bem" data-bem='{"button":{}}' role="link" href="https://kassa.yandex.ru/ask/#onlinekassa"><span class="icon icon_size_s icon_view_link icon_name_comment"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M1 3h14c.552 0 1 .456 1 1.019v7.983A.992.992 0 0 1 15 13H9l-4.505 2.861A.99.99 0 0 1 3 15v-2.003H1a.99.99 0 0 1-1-.995V4.02A1.01 1.01 0 0 1 1 3zm1 1.999V11h3v2l3-2h6V5L2 4.999z" /></svg></span><span class="button__text">Sual vermək</span></a></div><div class="tpl-grid__fraction tpl-grid__fraction_l-col_5 tpl-grid__fraction_m-col_5 tpl-grid__fraction_s-col_hidden tpl-grid__fraction_xs-col_hidden"><div class="illustration illustration_name_54fz"><img class="image illustration__kassa" src="~/pic/kassa1.png" alt="Облачная касса для интернет-магазина"></div></div></div></div><div class="tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center section section_vertical-align_center section_height_screen section_view_dark">
            <div class="tpl-grid tpl-grid_m-ratio_1-1 tpl-grid_col-gap_full tpl-grid_row-gap_full">
                <div class="section__fraction section__fraction_s_space-xxxl">
                    <div class="vector vector_name_money decorator decorator_indent-b_xl">
                        <svg width="72" height="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g fill="none" id="VectorNameMoneyBanknote1">
                                <path fill="var(--vector-tone--1)" fill-rule="nonzero" d="M6.17 45.663l44.811-16.3 11.849 16.974-44.806 16.302z" />
                                <ellipse fill="var(--vector-tone-1)" fill-rule="nonzero" cx="34" cy="45.5" rx="7" ry="5.5" />
                            </g>
                            <g fill="none" id="VectorNameMoneyBanknote2">
                                <path fill="var(--vector-tone-default)" fill-rule="nonzero" d="M6.17 34.663l44.811-16.3 11.849 16.974-44.806 16.302z" />
                                <ellipse fill="var(--vector-tone-2)" fill-rule="nonzero" cx="34" cy="35.5" rx="7" ry="5.5" />
                            </g>
                            <g fill="none" id="VectorNameMoneyBanknote3">
                                <path fill="var(--vector-tone-1)" fill-rule="nonzero" d="M6.17 23.663l44.811-16.3 11.849 16.974-44.806 16.302z" />
                                <ellipse fill="var(--vector-tone-3)" fill-rule="nonzero" cx="34" cy="24.5" rx="7" ry="5.5" />
                            </g>
                            <ellipse id="VectorNameMoneyCoin1" fill="var(--vector-tone--1)" fill-rule="nonzero" cx="50" cy="57.5" rx="7" ry="5.5" />
                            <ellipse id="VectorNameMoneyCoin2" fill="var(--vector-tone-1)" fill-rule="nonzero" cx="50" cy="53.5" rx="7" ry="5.5" />
                            <ellipse id="VectorNameMoneyCoin3" fill="var(--vector-tone-2)" fill-rule="nonzero" cx="50" cy="49.5" rx="7" ry="5.5" />
                        </svg>
                    </div><h2 class="text text_type_h2 decorator decorator_indent-b_l text_size_xl text_weight_bold text_view_primary " lang="ru" id="1"><span class="text_wrap">Sərfəli qiymət<a class="title-anchor title-anchor_size_2" ></a></span></h2><p class="text text_type_p text_view_secondary decorator decorator_indent-b_l text_size_m text_weight_regular" lang="ru">Недорогая аренда онлайн-кассы, а&nbsp;к&nbsp;ней&nbsp;&mdash; бесплатное обслуживание в&nbsp;ОФД, выпуск КЭП и&nbsp;регистрация в&nbsp;ФНС.</p>
                </div><div class="section__fraction section__fraction_s_space-xxxl">
                    <div class="vector vector_name_law decorator decorator_indent-b_xl">
                        <svg width="74" height="74" viewBox="0 0 74 74" xmlns="http://www.w3.org/2000/svg">
                            <g id="VectorNameLawHammer">
                                <path fill="var(--vector-tone--2)" fill-rule="nonzero" d="M36.312 34.217c-1.849 3.497-3.382 7.178-4.598 11.041l-16.454-9.5c3.289-3.586 6.121-7.436 8.496-11.549 2.375-4.114 4.293-8.491 5.754-13.133l16.454 9.5c-2.575 2.808-4.871 5.777-6.886 8.909 1.124.732 2.255 1.406 3.453 2.079 1.271.763 2.627 1.441 3.898 2.034 1.271.593 2.542 1.186 3.729 1.695 1.186.508 2.373 1.017 3.475 1.356 1.102.424 2.119.763 2.966 1.017.932.254 1.695.508 2.373.678.678.169 1.186.339 1.525.424.339.085.593.085.593.085 3.136.508 5.169 3.475 4.576 6.61-.763 2.966-3.475 4.915-6.271 4.576-1.441-.169-2.712-.847-3.644-1.949l-.424-.424c-.254-.254-.593-.678-1.102-1.102-.508-.508-1.102-1.017-1.78-1.61-.678-.593-1.525-1.271-2.458-2.034-.932-.678-1.864-1.441-2.966-2.203-1.102-.763-2.203-1.525-3.39-2.288-1.186-.763-2.458-1.525-3.729-2.288-1.149-.69-2.368-1.31-3.593-1.923z" />
                                <path fill="var(--vector-tone-1)" d="M16.016 35.027l15.733 9.083c.957.552 1.284 1.775.732 2.732l-.375.65c-.552.957-1.775 1.284-2.732.732l-15.733-9.083c-.957-.552-1.284-1.775-.732-2.732l.375-.65c.552-.957 1.775-1.284 2.732-.732zm15.833-26.917l15.733 9.083c.957.552 1.284 1.775.732 2.732l-.375.65c-.552.957-1.775 1.284-2.732.732l-15.733-9.083c-.957-.552-1.284-1.775-.732-2.732l.375-.65c.552-.957 1.775-1.284 2.732-.732z" />
                            </g>
                            <path id="VectorNameLawWood" fill="var(--vector-tone-default)" d="M10 56h25.31c.552 0 1 .448 1 1l-.029.239c-.446 1.809-.669 3.396-.669 4.761 0 1.239.184 2.478.552 3.715.157.529-.144 1.086-.674 1.244-.092.027-.188.041-.285.041h-25.061c-.552 0-1-.448-1-1 0-.096.014-.192.041-.285.284-.955.426-2.194.426-3.715 0-1.769-.192-3.346-.575-4.733-.147-.532.165-1.083.697-1.23l.267-.036z" />
                        </svg>
                    </div><h2 class="text text_type_h2 decorator decorator_indent-b_l text_size_xl text_weight_bold text_view_primary text_anchor_true" lang="ru" id="2"><span class="text_wrap">Полное соответствие 54-ФЗ<a class="title-anchor title-anchor_size_2" href="#2"></a></span></h2><p class="text text_type_p text_view_secondary decorator decorator_indent-b_l text_size_m text_weight_regular" lang="ru">Сервис формирует чек и&nbsp;отправляет в&nbsp;ОФД, а&nbsp;электронную форму чека&nbsp;&mdash; покупателю на&nbsp;почту.</p>
                </div><div class="section__fraction section__fraction_s_space-xxxl">
                    <div class="vector vector_name_connection decorator decorator_indent-b_xl">
                        <svg width="72" height="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" id="VectorNameConnectionPlug">
                                <path fill="var(--vector-tone-1)" d="M37.975 30.576l5.302 5.302c.586.586.586 1.535 0 2.121-.586.586-1.535.586-2.121 0l-5.302-5.302 2.121-2.121zM30.197 38.354l5.302 5.302c.586.586.586 1.535 0 2.121-.586.586-1.535.586-2.121 0l-5.302-5.302 2.121-2.121z" />
                                <path fill="var(--vector-tone--1)" d="M28.075 36.233l2.121 2.121-2.121 2.121-2.121-2.121zM35.854 28.454l2.121 2.121-2.121 2.121-2.121-2.121z" />
                                <path fill="var(--vector-tone-default)" d="M30.197 14.313l9.898 9.898-18.382 18.382-9.898-9.898z" />
                                <path fill="var(--vector-tone--2)" d="M7.241 12.569l-3.621-3.621c-.781-.781-.781-2.047 0-2.828.781-.781 2.047-.781 2.828 0l3.621 3.621c1.334-.356 2.817-.011 3.864 1.036l-5.657 5.657c-1.047-1.047-1.392-2.53-1.036-3.864z" />
                                <path fill="var(--vector-tone--1)" d="M30.194 14.313l-15.554-4.242-7.07 7.07 4.242 15.554z" />
                            </g>
                            <g fill="none" id="VectorNameConnectionSocket">
                                <path fill="var(--vector-tone-default)" d="M49.288 33.407l9.898 9.898-18.382 18.382-9.898-9.898z" />
                                <path fill="var(--vector-tone--2)" d="M63.759 63.431l3.621 3.621c.781.781.781 2.047 0 2.828-.781.781-2.047.781-2.828 0l-3.621-3.621c-1.334.356-2.817.011-3.864-1.036l5.657-5.657c1.047 1.047 1.392 2.53 1.036 3.864z" />
                                <path fill="var(--vector-tone--1)" d="M59.186 43.305l4.242 15.554-7.07 7.07-15.554-4.242z" />
                            </g>
                        </svg>
                    </div><h2 class="text text_type_h2 decorator decorator_indent-b_l text_size_xl text_weight_bold text_view_primary text_anchor_true" lang="ru" id="3"><span class="text_wrap">Просто подключить<a class="title-anchor title-anchor_size_2" href="#3"></a></span></h2><p class="text text_type_p text_view_secondary decorator decorator_indent-b_l text_size_m text_weight_regular" lang="ru">Подключение онлайн-кассы обычно занимает три рабочих дня после оплаты, если нет задержек в&nbsp;налоговой.</p>
                </div><div class="section__fraction section__fraction_s_space-xxxl">
                    <div class="vector vector_name_support decorator decorator_indent-b_xl">
                        <svg width="72" height="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                            <path fill="var(--vector-tone-2)" fill-rule="nonzero" d="M35.58 41.104c6.492 0 11.755-7.606 11.755-15.953s-2.507-15.113-11.755-15.113c-9.248 0-11.755 6.766-11.755 15.113s5.263 15.953 11.755 15.953z" />
                            <path fill="var(--vector-tone-default)" fill-rule="nonzero" d="M49.024 18.434c-1.501-6.028-6.951-10.495-13.444-10.495-6.493 0-11.943 4.467-13.444 10.495h.01v11.07c.661 3.403 2.104 6.451 4.331 9.16l-1.946 1.6c-2.537-3.086-4.169-6.579-4.892-10.461-1.512-.608-2.531-2.093-2.531-5.492 0-3.265.94-4.764 2.355-5.416 1.368-7.66 8.063-13.475 16.117-13.475 8.063 0 14.764 5.828 16.122 13.501 1.412.674 2.35 2.191 2.35 5.391 0 4.962-2.255 5.877-5.038 5.877v-11.755h.01z" />
                            <path fill="var(--vector-tone--2)" fill-rule="nonzero" d="M25.505 11.297c6.7.582 6.045-3.376 12.784-1.782 4.639 1.097 7.474 4.35 8.505 9.758-2.928-2.696-5.235-4.043-6.92-4.043-6.717 0-8.677 7.044-14.369 3.204-1.28-.864-2.614-4.469 0-7.137z" />
                            <path fill="var(--vector-tone-default)" fill-rule="nonzero" d="M63.212 63.421c-8.134 2.492-17.392 3.902-27.212 3.902-9.986 0-19.389-1.457-27.622-4.028l.886-4.962c.688-3.852 3.544-6.957 7.325-7.965l8.328-2.219c1.408-.375 2.521-1.454 2.94-2.85l1.007-3.355c1.636 1.119 3.874 1.679 6.717 1.679 2.842 0 5.081-.56 6.717-1.679l1.004 3.348c.419 1.395 1.531 2.474 2.938 2.85l8.568 2.287c3.658.976 6.46 3.921 7.254 7.624l1.151 5.37z" />
                            <path fill="var(--vector-tone--2)" fill-rule="nonzero" d="M39 68l-3 2-3-2 1.689-14.663-1.657-2.578 2.969-2.099 2.969 2.099-1.657 2.577z" />
                        </svg>
                    </div><h2 class="text text_type_h2 decorator decorator_indent-b_l text_size_xl text_weight_bold text_view_primary text_anchor_true" lang="ru" id="4"><span class="text_wrap">Помощь в обслуживании<a class="title-anchor title-anchor_size_2" href="#4"></a></span></h2><p class="text text_type_p text_view_secondary decorator decorator_indent-b_l text_size_m text_weight_regular" lang="ru">Поддержка 24/7, по&nbsp;техническим и&nbsp;правовым вопросам. Если ваш бизнес вырастет&nbsp;&mdash; поможем с&nbsp;масштабированием.</p>
                </div>
            </div>
        </div>
    
    <div class="tpl-layout__container mytext-center tpl-layout__container_size_m tpl-layout__container_align_center section section_view_default theme theme_color_kassa-default">
        <h2 class="text-center mytext-center text_display_inline-block decorator decorator_indent-b_xxl decorator decorator_indent-r_xxxl text_size_xxxl text_weight_bold text_view_primary " lang="ru" id="5">
        <span class="text-center mytext-center">
    Ayda cəmi 5 manata
            @*<a class="title-anchor title-anchor_size_2" href="#5">
                </a>*@
            </span>
        </h2>
   
   
    <div class="tpl-grid tpl-grid_l-ratio_1-1-1-1 tpl-grid_m-ratio_1-1-1-1 tpl-grid_s-ratio_1-1 tpl-grid_col-gap_full tpl-grid_row-gap_full">
    

    

    </div>


    </div>
    
    <div class="tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center section section_vertical-align_center section_height_screen section_view_default decorator__padding decorator__padding_bottom_xxxxxl">
    <div class="tpl-layout__item">
        <h2 class="text text_type_h2-promo text_align_center decorator decorator_indent-b_xxxl text_size_xxxl text_weight_bold text_view_primary text_anchor_true" lang="ru" id="6">
        <span class="text_wrap">Как подключить онлайн-кассу
            <a class="title-anchor title-anchor_size_2" href="#6">
                </a>
            </span>
            </h2>
        <ol class="steps steps_view_split tpl-grid tpl-grid_s-ratio_1-1 tpl-grid_m-ratio_1-1-1-1">
        
        <li class="steps__item">
            <div class="steps__number">
                </div>
            <p class="text text_type_p text_view_secondary steps__text text_size_m text_weight_regular" lang="ru">
            <a href="https://kassa.yandex.ru/joinups" class="text_view_link">Подключите
                </a> Яндекс.Кассу, если у&nbsp;вас её&nbsp;нет.
                </p>
            </li>

        <li class="steps__item">
            <div class="steps__number">
                </div>
            <p class="text text_type_p text_view_secondary steps__text text_size_m text_weight_regular" lang="ru">
            <a href="https://online.kit-invest.ru/Public/RentCashregister" class="text_view_link ya-metrica ya-metrica_goal">Заполните анкету
                </a> для облачной онлайн-кассы, примите условия сервиса и оплатите обслуживание кассы.
                </p>
            </li>

        <li class="steps__item">
            <div class="steps__number">
                </div>
            <p class="text text_type_p text_view_secondary steps__text text_size_m text_weight_regular" lang="ru">Сервис поможет зарегистрировать онлайн-кассу в&nbsp;налоговой, подключить к&nbsp;ОФД, настроить в&nbsp;центре обработки данных и&nbsp;получить КЭП, если нужно.
                </p>
            </li>

        <li class="steps__item">
            <div class="steps__number">
                </div>
            <p class="text text_type_p text_view_secondary steps__text text_size_m text_weight_regular" lang="ru">Получите настройки и&nbsp;пропишите их&nbsp;в&nbsp;Яндекс.Кассе.
                </p>
            </li>


            </ol>
        </div>
        </div>
    
    
    <div class="tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center section section_view_dark">
    <div class="get-kassa get-kassa_type_custom decorator decorator_indent-b_xxxxl">
        <h2 class="text text_type_h2 text_align_center decorator decorator_indent-b_l decorator_indent-h_auto text_size_xl text_weight_bold text_view_primary text_anchor_true" lang="ru" id="7">
        <span class="text_wrap">Готовы подключиться?
            <a class="title-anchor title-anchor_size_2" href="#7">
                </a>
            </span>
            </h2>
        <div class="text text_size_m text_view_secondary text_short_medium decorator decorator_indent-h_auto decorator_indent-b_xxl" lang="ru">Задайте вопрос менеджерам или сразу заполняйте заявку.
            </div>
        <a class="button button_theme_kassa button_size_m button_view_action button_type_link button_for_auth decorator decorator_indent-t_s decorator_indent-r_l ya-metrica ya-metrica_goal button__control i-bem" data-bem='{"button":{}}' role="link" href="https://online.kit-invest.ru/Public/RentCashregister">
        <span class="button__text">Подключить онлайн-кассу
            </span>
            </a>
        <a class="button button_theme_kassa button_size_l button_type_link button_view_plain decorator decorator_indent-a_s button__control i-bem" data-bem='{"button":{}}' role="link" href="https://kassa.yandex.ru/ask/#onlinekassa">
        <span class="icon icon_size_s icon_view_link icon_name_comment">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
            <path fill-rule="evenodd" d="M1 3h14c.552 0 1 .456 1 1.019v7.983A.992.992 0 0 1 15 13H9l-4.505 2.861A.99.99 0 0 1 3 15v-2.003H1a.99.99 0 0 1-1-.995V4.02A1.01 1.01 0 0 1 1 3zm1 1.999V11h3v2l3-2h6V5L2 4.999z" />
                </svg>
        </span>
    <span class="button__text">Задать вопрос
            </span>                                                                                                                                                                                                                                                                                                                                                                                                                       
            </a>
        </div>
    @*<div class="text text_size_xs text_view_secondary text_align_center text_short_default" style="display: block; margin: auto" lang="ru">Сервис предоставляется ООО &laquo;Кит Инвест&raquo; (ИНН 4004007928) в&nbsp;порядке и&nbsp;на&nbsp;условиях, заключаемого между сторонами 
        <a class="text text_view_link" href="https://kit-invest.ru/rules/54fz.pdf" lang="ru">договора.</a> ООО НКО &laquo;Яндекс.Деньги&raquo; не&nbsp;несёт ответственность за&nbsp;этот сервис. С&nbsp;вопросами по&nbsp;поддержке сервиса звоните ООО &laquo;Кит Инвест&raquo; по&nbsp;номеру&nbsp;<nobr class="phone">8 (800) 350-15-40</nobr> или пишите на&nbsp;info@kit-invest.ru
        </div>*@
    </div>

    <div class="tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center section">
    <h2 class="text text_type_h2-promo decorator decorator_indent-b_xxxl text_size_xxxl text_weight_bold text_view_primary text_anchor_true" lang="ru" id="8">
    
    <span class="text_wrap">Вопросы и ответы
    <a class="title-anchor title-anchor_size_2" href="#8">
        </a>
        </span>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </h2><div class="tpl-grid tpl-grid_xl-columns_10 tpl-grid_l-columns_10 tpl-grid_m-columns_12 tpl-grid_s-columns_8 tpl-grid_col-gap_full tpl-grid_row-gap_full"><div class="tpl-grid__fraction tpl-grid__fraction_l-col_5 tpl-grid__fraction_m-col_6 tpl-grid__fraction_s-col_4"><div class="faq pt-list tpl-grid tpl-grid_row-gap_full"><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">Облачная касса и&nbsp;онлайн-касса&nbsp;&mdash; это одно и&nbsp;тоже?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru">Облачная касса&nbsp;&mdash; это онлайн-касса, которая хранится не&nbsp;у&nbsp;продавца, а&nbsp;в&nbsp;дата-центре партнёра. Продавец получает к&nbsp;ней доступ через облачные сервисы.<br>Всё по&nbsp;54-ФЗ: облачная касса формирует чеки и&nbsp;передаёт их&nbsp;через ОФД в&nbsp;налоговую, электронную форму чека отправляет покупателю, а&nbsp;также хранит информацию о&nbsp;продажах в&nbsp;зашифрованном виде.<br>Важный момент&nbsp;&mdash; облачная касса формирует только электронные чеки, не&nbsp;распечатывая&nbsp;их. Это удобное решение для бизнеса в&nbsp;интернете.</p></div></div></div></div><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">В&nbsp;чём плюсы облачной кассы?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru"><strong>Не&nbsp;требует лишних затрат.</strong> Хранение кассы, её&nbsp;обслуживание, услуги ОФД, регистрация в&nbsp;ФНС, выпуск КЭП и&nbsp;прочие сервисы уже входят в&nbsp;стоимость. Вам не&nbsp;нужно заботиться о&nbsp;ремонте кассового аппарата и&nbsp;следить за&nbsp;бесперебойным интернет-соединением, эти хлопоты берёт на&nbsp;себя КИТ Инвест.<br><strong>Находится в&nbsp;надёжном месте.</strong> В&nbsp;дата-центре касса лучше защищена от&nbsp;сбоев, потому что центры оснащены резервными генераторами электропитания, системой пожаротушения и&nbsp;защитой от&nbsp;сетевых ошибок.<br><strong>Просто интегрируется с&nbsp;сайтом.</strong> Подключение облачной кассы обычно занимает несколько дней. Для интеграции с&nbsp;интернет-магазином достаточно прописать настройки в&nbsp;Яндекс.Кассе и&nbsp;на&nbsp;сайте. После этого данные о&nbsp;заказах на&nbsp;сайте будут отправляться в&nbsp;ОФД.</p></div></div></div></div><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">Какому бизнесу подходит облачная касса?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru">Это решение для всех интернет-магазинов и&nbsp;онлайн-сервисов, которым не&nbsp;нужно печатать бумажные чеки.</p></div></div></div></div></div></div><div class="tpl-grid__fraction tpl-grid__fraction_l-col_5 tpl-grid__fraction_m-col_6 tpl-grid__fraction_s-col_4"><div class="faq pt-list tpl-grid tpl-grid_row-gap_full"><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">Что такое КЭП и&nbsp;зачем она нужна?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru">Квалифицированная электронная подпись (КЭП)&nbsp;&mdash; самый защищённый вид электронной подписи. Она нужна для регистрации кассы на&nbsp;сайте Федеральной налоговой службы. КЭП подтверждает подлинность документа, без неё налоговая не&nbsp;поверит, что чеки принадлежат продавцу. Также без неё не&nbsp;получится зарегистрироваться в&nbsp;системе маркировки товаров &laquo;честныйзнак.рф&raquo;.</p></div></div></div></div><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">Поддерживает&nbsp;ли облачная онлайн-касса последние требования законов к&nbsp;чекам?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru">Программное обеспечение облачной кассы обновляется вместе с&nbsp;законами. Например, сейчас облачная касса создаёт фискальные документы по&nbsp;формату ФФД 1.05, но&nbsp;учитывает требования к&nbsp;чекам, вступившие в&nbsp;силу с&nbsp;1&nbsp;марта 2020&nbsp;года.</p></div></div></div></div><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">Как настроить мою CMS для работы с&nbsp;облачной кассой?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru">Для большинства CMS у&nbsp;нас есть <a class="text text_view_link" href="https://kassa.yandex.ru/integration/" lang="ru">готовые модули</a>. С&nbsp;их&nbsp;помощью можно быстро и&nbsp;без разработки установить Яндекс.Кассу на&nbsp;сайт. В&nbsp;модуле есть блок &laquo;54-ФЗ&raquo;&nbsp;&mdash; пропишите в&nbsp;нём настройки для онлайн-кассы, и&nbsp;всё заработает.</p></div></div></div></div><div class="faq__section" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"><div class="pt-icon-plus"><div class="emoji emoji_name_help emoji_size_m pt-icon-plus__icon pt-icon-plus__icon_indent-r_s text text_view_primary">&#10095;</div><div class="pt-icon-plus__block"><div class="text text_view_primary text_size_l text_weight_bold decorator decorator_indent-b_m" itemprop="name" lang="ru">При каких налоговых режимах нужна облачная касса?</div><div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><p class="text text_view_secondary text_type_p text_size_m text_weight_regular" itemprop="text" lang="ru">Использовать облачную кассу без кассового аппарата можно на&nbsp;всех налоговых режимах: ЕНВД, УСН, ОСНО, ЕСХН. Самозанятым на&nbsp;режиме &laquo;Налог на&nbsp;профессиональный доход&raquo; онлайн-касса не&nbsp;нужна.<br>Если есть сомнения в&nbsp;выборе кассы&nbsp;&mdash; <a class="text text_view_link" href="https://kassa.yandex.ru/ask/#onlinekassa" lang="ru">спросите у&nbsp;нас</a>.</p></div></div></div></div></div></div></div></div>



        <div class="tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center section section_view_medium">
    <h3 class="text text_type_h3 decorator decorator_indent-b_l text_size_l text_weight_bold text_view_primary" href="https://kassa.yandex.ru/" lang="ru">Другие материалы
        </h3>
    <div class="tpl-grid tpl-grid_xl-columns_6 tpl-grid_l-columns_6 tpl-grid_m-columns_12 tpl-grid_s-columns_8 tpl-grid_col-gap_full tpl-grid_row-gap_half">
            <div class="tpl-grid__fraction tpl-grid__fraction_l-col_2 tpl-grid__fraction_m-col_4 tpl-grid__fraction_s-col_8">
        <p class="text text_type_p decorator decorator_indent-b_l decorator_s-indent-b_xs text_size_m text_weight_regular" lang="ru">
                <a class="text text_type_link text_view_link" href="https://kassa.yandex.ru/internet-ekvayring-dlya-saytov/" lang="ru">Интернет-эквайринг
                    </a>
            </p>
        <p class="text text_type_p decorator decorator_indent-b_l decorator_s-indent-b_xs text_size_m text_weight_regular" lang="ru">
                <a class="text text_type_link text_view_link" href="https://kassa.yandex.ru/kak-podklyuchit-platezhnuyu-sistemu-k-saytu/" lang="ru">Платёжная система для сайта
                    </a>
            </p>
                </div>
            <div class="tpl-grid__fraction tpl-grid__fraction_l-col_2 tpl-grid__fraction_m-col_4 tpl-grid__fraction_s-col_8"><p class="text text_type_p decorator decorator_indent-b_l decorator_s-indent-b_xs text_size_m text_weight_regular" lang="ru"><a class="text text_type_link text_view_link" href="https://kassa.yandex.ru/platezhi-dlya-samozanyatyh/" lang="ru">Платежи для самозанятых</a></p></div><div class="tpl-grid__fraction tpl-grid__fraction_l-col_2 tpl-grid__fraction_m-col_4 tpl-grid__fraction_s-col_8"><p class="text text_type_p decorator decorator_indent-b_l decorator_s-indent-b_xs text_size_m text_weight_regular" lang="ru"><a class="text text_type_link text_view_link" href="https://kassa.yandex.ru/sistema-oplaty-bankovskimi-kartami/" lang="ru">Онлайн-оплата для интернет-магазинов</a></p></div></div></div>
    </div>
    <div class="footer theme theme_color_kassa-brand theme_gap_small tpl-layout">
    <div class="footer__content tpl-layout__container tpl-layout__container_size_m tpl-layout__container_align_center">
        <div class="footer__products footer__section">
        <div class="footer__link-collection">
            <div class="footer__partition-title">Продукты
                </div>
            <div class="pt-list">
            <a class="footer__link" href="https://kassa.yandex.ru/payments/">Прием платежей</a><a class="footer__link" href="https://kassa.yandex.ru/b2b/">B2B</a><a class="footer__link" href="https://kassa.yandex.ru/features-invoice/">Выставление счетов</a><a class="footer__link" href="https://kassa.yandex.ru/kredit-zaplatit-po-chastyam/">Кредитование покупателей</a><a class="footer__link" href="https://kassa.yandex.ru/payouts/">Выплаты</a><a class="footer__link" href="https://kassa.yandex.ru/marketplaces/">Для платформ</a><a class="footer__link" href="https://kassa.yandex.ru/platezhi-dlya-samozanyatyh/">Касса самозанятым</a><a class="footer__link" href="https://money.yandex.ru/fastpay">Платёжка</a><a class="footer__link" href="https://kassa.yandex.ru/mpos/">Мобильный терминал</a><a class="footer__link" href="index.html">Онлайн-касса</a></div></div></div><div class="footer__services footer__section"><div class="footer__link-collection"><div class="footer__partition-title">Сервисы</div><div class="pt-list"><a class="footer__link" href="https://kassa.yandex.ru/business-start/">Открыть ООО или&nbsp;ИП</a><a class="footer__link" href="https://kassa.yandex.ru/promo/nethouse">Конструктор сайтов</a><a class="footer__link" href="https://kassa.yandex.ru/promo/consult/lawyer">Консультация юриста</a><a class="footer__link" href="https://kassa.yandex.ru/edo/">ЭДО</a><a class="footer__link" href="https://kassa.yandex.ru/online-kassa-marketplace/">Маркетплейс <nobr>онлайн&ndash;касс</nobr></a><a class="footer__link" href="https://kassa.yandex.ru/pomoshnik/">Поисковый аудит</a><a class="footer__link" href="https://kassa.yandex.ru/kontekstnaya-reklama/">Контекстная реклама</a><a class="footer__link" href="https://kassa.yandex.ru/promo/push">Пуш&ndash;уведомления на&nbsp;сайт</a><a class="footer__link" href="https://kassa.yandex.ru/taxi-delivery/">Доставка от Яндекс.Такси</a></div></div></div><div class="footer__resourses footer__section"><div class="footer__link-collection"><div class="footer__partition-title">Ресурсы</div><div class="pt-list"><a class="footer__link" href="https://kassa.yandex.ru/developers">Разработчикам</a><a class="footer__link" href="https://money.yandex.ru/doc.xml?id=527067">Правила Кассы</a><a class="footer__link" href="https://kassa.yandex.ru/sitemap/">Карта сайта</a><a class="footer__link" href="https://kassa.yandex.ru/promo/agents">Партнёрская программа</a><a class="footer__link" href="https://kassa.yandex.ru/demo/">Демо&ndash;магазин</a></div></div></div><div class="footer__company footer__section"><div class="footer__link-collection"><div class="footer__partition-title">Компания</div><div class="pt-list"><a class="footer__link" href="https://kassa.yandex.ru/about/">О компании</a><a class="footer__link" href="https://kassa.yandex.ru/blog/">Блог</a><a class="footer__link" href="https://kassa.yandex.ru/contacts/">Контакты</a><a class="footer__link" href="https://yandex.ru/support/checkout/security.html">Безопасность</a><a class="footer__link" href="https://kassa.yandex.ru/non-russian-residents/">Нерезидентам</a></div></div></div><div class="footer__support footer__section"><div class="footer__link-collection"><div class="footer__partition-title">Поддержка</div><div class="pt-list"><a class="footer__link" href="https://kassa.yandex.ru/help">Помощь</a><a class="footer__link" href="mailto:merchants@money.yandex.ru">Обратная связь</a></div></div></div><div class="footer__call-center footer__section"><div class="text text_view_primary text_size_m text_weight_bold title" lang="ru">Колл-центр</div><div class="pt-list"><div class="text text_view_primary telephone" lang="ru">8 800 250-66-99</div><div class="text text_view_secondary" lang="ru">пн-пт  8:00 - 20:00</div><div class="text text_view_secondary" lang="ru">сб-вс 10:00 - 19:00</div></div></div><div class="footer__languages footer__section"><div class="footer__link-collection"><div class="footer__partition-title">Язык</div><div class="pt-list"><a class="footer__link" href="https://kassa.yandex.ru/">Русский</a><a class="footer__link" href="https://checkout.yandex.com/">English</a><a class="footer__link" href="https://checkout.yandex.com/cn/">Ch</a></div></div></div><div class="footer__copyrights footer__section footer__section_xs-width_auto footer__section"><img class="image yandex-logo" src="https://kassa.yandex.ru/assets/footer/footer__yandex-logo.svg" alt="Яндекс.Касса"><div class="copyright-text">&copy;&nbsp;2020 ООО НКО &laquo;Яндекс.Деньги&raquo; Лицензия Банка России &#8470;&nbsp;3510-К</div></div><div class="footer__social-links footer__section footer__section_xs-width_auto footer__section"><div class="pt-list"><a class="brand-logo brand-logo_name_fb-white" href="https://www.facebook.com/yandexkassa/"></a><a class="brand-logo brand-logo_name_vk-white" href="https://vk.com/yandexkassa"></a><a class="brand-logo brand-logo_name_youtube-white" href="https://www.youtube.com/channel/UCAkrR86Vl3euv4ILSHWPNsQ"></a><a class="brand-logo brand-logo_name_zen-white" href="https://zen.yandex.ru/yandexkassa"></a><a class="brand-logo brand-logo_name_telegram-white" href="https://t.me/yandex_kassa"></a><a class="brand-logo brand-logo_name_instagram-white" href="https://www.instagram.com/yandex_kassa/"></a></div></div><div class="footer__applications"><div class="footer__application"><div class="footer__mobile-photo"><img class="image" src="https://kassa.yandex.ru/assets/footer/footer__mobile-photo.svg" alt="Мобильное приложение Яндекс.Кассы - аналитика и выставление счетов"></div><div class="footer__title"><div class="text text_size_l text_view_primary" lang="ru">Скачайте приложение Яндекс.Кассы</div></div><div class="footer__qr-code"><img class="image" src="https://kassa.yandex.ru/assets/footer/footer__qr-code.svg" alt="Скачать мобильное приложение Яндекс.Кассы"></div><div class="footer__app-stores"><a href="https://apps.apple.com/us/app/id1151393148"><img class="image" src="https://kassa.yandex.ru/assets/footer/footer__app-store.svg" alt="Скачать мобильное приложение Яндекс.Кассы для iOS"></a><a href="https://play.google.com/store/apps/details?id=ru.yandex.checkout.release"><img class="image" src="https://kassa.yandex.ru/assets/footer/footer__google-pay.svg" alt="Скачать мобильное приложение Яндекс.Кассы для Android"></a></div><div class="footer__prompt"><div class="text text_view_primary text_size_s" lang="ru">Отсканируйте QR&nbsp;код любым устройством</div></div></div></div></div></div>
    
    
    
    <script src="../assets/libs/jquery/jquery.3.1.1.js"></script>
    <script src="../js/online-kassa.min99e7.js?v=1593787162577"></script>
    <script src="../js/url-params.js"></script>
</body>
<!-- Mirrored from kassa.yandex.ru/online-kassa/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jul 2020 08:42:41 GMT -->
</html>